body {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}

.center_block{
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: lightblue;
	width: fit-content;
	padding: 5%;
	padding-top: 3%;
	padding-bottom: 3%;
	border-radius: 25px;
}

.center_block h3{
	margin: 0%;
	padding: 0%;
	margin-bottom: 10px;
}

.center_block form{
	text-align: left;
}

.text {
	height: 30px;
	margin-bottom: 2%;
}

.button{
	width: 100%;
	margin-top: 4%;
}
