.allContainer{
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 100vw;
    min-height: 40vw;
    position: relative;
}

.goback {
    position: absolute;
    top: 5%;
    left: 5%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: lightgray;
    border-radius: 25px;
    border: none;
}

.gridContainer {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-areas: 
        "lg ng cg"
        "ln nn cn"
        "le ne ce"
    ;
    background-color: gray;
    width: fit-content;
    padding: 2%;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.procMang{
    grid-area:  lg;
}

.submit{
    width: 150px;
    height: 150px;
    border-radius: 25px;
}
