.menu{
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.body{
    margin-block: 2%;
}

.return {
    position: absolute;
    top: 2%;
    left: 2%;
    background-color: lightgray;
    border-radius: 25px;
    border: none;
}

.opcions{
    width: 30%;
    padding-left: 35%;
    justify-items: stretch;
}

.opcio{
    float: none;
    background-color: lightslategray;
    margin-block: 2%;
    border-radius: 10px;
}

.boto{
    border-radius: 25px;
    background-color: lightgray;
    margin-block: 2%;
}
